fastapi
uvicorn
sqlalchemy
alembic
passlib[bcrypt]
python-jose[cryptography]
pillow
bleach
fastapi-mail
slowapi
apscheduler
filetype
python-dotenv
pydantic-settings
psycopg[binary]
python-multipart
aiosqlite
greenlet
